#quest-block__modal {
    background-color: rgb(211, 58, 58) !important;
}

.quest-block__container .quest-block__trigger {
    width: 323px;
    height: 47px;
    transition: .2s;
    border-radius: 10px;
    background-color: #efecec;
}

.quest-block__container .quest-block__trigger:hover {
    color: white;
    background-color: #8527c6;
}

.quest-block__container .quest-block__trigger:active {
    background-color: #8f32d1;
}

.quest-block__div {
    margin-top: 40px;
}

.quest-block__div:first-child {
    margin-top: 0;
}

.quest-block__img-inpt {
    position: absolute;
    z-index: -1;
}

.quest-block__img-inpt+.quest-block__file-label {
    display: inline-block;
    width: 200px;
    height: 45px;
    padding-top: 5px;
    cursor: pointer;
    transition: .1s;
    color: white;
    background-color: #8527c6;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.quest-block__img-inpt+.quest-block__file-label:hover {
    padding-left: 5px;
    background-color: #9233d6;
}

.quest-block__label {
    display: inline-block;
    width: 260px;
    color: #2b2a2a;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.quest-block__label_margin {
    margin-top: 20px;
}

.quest-block__label_position {
    vertical-align: top;
    margin-top: 20px;
}

.quset-block__quest-text {
    padding-top: 8px;
    padding-left: 6px;
    width: 438px;
    height: 77px;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    background-color: #ffffff;
}

.quset-block__quest-text_width {
    width: 100%;
}

.quset-block__quest-text:focus {
    outline: none;
    background-color: #faf2f2;
}

.quest-block__input {
    padding-top: 4px;
    padding-left: 6px;
    width: 439px;
    height: 53px;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    background-color: #ffffff;
}

.quest-block__input:focus {
    outline: none;
    background-color: #faf2f2;
}

.quest-block__input:disabled {
    background-color: #a7a1a1;
}

.quest-block__check {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.quest-block__check+label {
    position: relative;
    display: block;
    width: 270px;
    cursor: pointer;
}

.quest-block__check+label:after {
    content: '\2714';
    position: absolute;
    right: -10%;
    padding-top: 2px;
    width: 23px;
    height: 23px;
    background-color: #a6aaab;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.quest-block__check:checked+label:after {
    background-color: #6b2a98;
}

.quest-block__check:disabled+label:after {
    background-color: #5e5d5f;
}

.quest-block__btn {
    display: block;
    width: 270px;
    height: 46px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    background-color: #ff8400;
    color: #ffffff;
    cursor: pointer;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 400;
}

.quest-block__btn:hover {
    background-color: #6b2a98;
}

/* VARIANTS BLOCK */

.variants-block__container {
    display: flex;
}

.variants-block__add-variant {
    width: 100%;
}

.variants-block__container textarea {
    width: 300px;
    white-space: normal;
}

.variants-block__title {
    height: 18px;
    color: #717070;
    font-family: "Gilroy";
    font-size: 24px;
    font-weight: 600;
}

.variants-block__delete-btn {
    width: 220px;
    height: 46px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    background-color: #ff8400;
    cursor: pointer;
    color: #ffffff;
    transition: .1s;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 500;
}

.variants-block__delete-btn:hover {
    padding-left: 10px;
    background-color: #ff8f17;
}

.variants-block__answer-field {
    display: flex;
    margin-top: 10px;
}

.variants-block__variant-info {
    display: flex;
}

.variants-block__price-var {
    width: 100px;
    height: 68px;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    background-color: #ffffff;
    text-align: center;
    color: #bab7b7;
    font-family: "Gilroy";
    font-size: 14px;
    font-weight: 500;
}

.variants-block__price-var:focus {
    color: black;
    outline: none;
}

.variants-block__main-info {
    display: flex;
}

.variants-block__text {
    margin-left: 13px;
    padding-left: 20px;
    padding-top: 20px;
    width: 495px;
    height: 68px;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    background-color: #ffffff;
    color: #bab7b7;
    font-family: "Gilroy";
    font-size: 14px;
    font-weight: 500;
}

.variants-block__text:focus {
    outline: none;
    color: black;
}

.variants-block__text_select {
    width: 150px;
    padding-left: 5px;
    padding-top: 5px;
}

.variants-block__label {
    display: inline-block;
    width: 200px;
    color: #2b2a2a;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.variants-block__label_margin {
    margin-top: 20px;
}

.variants-block__label-info {
    margin-left: 55px;
    margin-top: 22px;
    width: 191px;
    height: 30px;
    color: #bab7b7;
    font-family: "Gilroy";
    font-size: 14px;
    font-weight: 500;
}

.variants-block__label-info_seq {
    margin-left: 20px;
}

.variants-block__label-info_second {
    margin-left: 0;
    width: 60px;
}

.variants-block__seq-input {
    margin-left: 10px;
    width: 68px;
    height: 68px;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    background-color: #ffffff;
}

.variants-block__seq-input:focus {
    outline: none;
}

.variants-block__state-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.variants-block__state-input+label {
    position: relative;
    display: block;
    cursor: pointer;
}

.variants-block__state-input+label:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 15px;
    padding-top: 2px;
    width: 35px;
    height: 35px;
    background-color: #f6fdff00;
    border: 4px solid #002157;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.variants-block__state-input_check+label:after {
    content: '';
    background-color: #cccccc;
    border: none;
}

.variants-block__state-input:checked+label:after {
    content: '\2714';
    background-color: #11b3c8;
    border: none;
    font-size: 21px;
}

.variants-block__state-input:disabled+label:after {
    background-color: #5e5d5f;
}