.passing-block__container{
    background-color: #efecec;
}
.passing-block__pass {
    position: relative;
    
    padding: 5px;
    border-radius: 10px;
    background-color: #efecec;
}

.passing-block__form {
    display: flex;
}
.passing-block__info-right{
    padding-left: 10px;
}
/* asddddddddddddddddddddddddddddddddddddddddddd */
.passing-block__radio:checked, 
.passing-block__radio:not(:checked) {
    /* position: absolute;
    left: -9999px; */
}

.passing-block__radio:checked+.passing-block__variant-text,
.passing-block__radio:not(:checked)+.passing-block__variant-text {
    position: relative;
    display: inline-block;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
}

.passing-block__radio:checked + .passing-block__variant-text:before,
.passing-block__radio:not(:checked) + .passing-block__variant-text:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #842cc1;
    border-radius: 50%;
    background-color: #efecec;
}

.passing-block__radio:checked + .passing-block__variant-text:before {
    transition: 0.2s;
    background-color: #842cc1;
}
/* asddddddddddddddddddddddddddddddd */
.passing-block__index {
    width: 90px;
    padding-top: 20px;
    margin: 0;
    color: #dcc1ef;
    font-family: 'Gilroy';
    font-size: 72px;
    font-weight: 800;
    line-height: 24px;
}

.passing-block__question {
    width: 960px;
    /* width: 850px; */
    padding-top: 8px;
    /* margin-right: 0; */
    color: #2d2d2d;
    font-family: gilroy;
    font-size: 20px;
    font-weight: 700;
}

.passing-block__variant-text {
    padding-left: 8px;
    color: #2d2d2d;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.passing-block__variant-item {}

img {
    width: 200px;
}
.passing-block__btn-div{
    position: relative;
}
.passing-block__button {
    margin: 30px 20px 30px 0;
    width: 165px;
    height: 38px;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #ff8400;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 600;
}

.passing-block__button:hover {
    transition: 0.2s;
    background-color: #842cc1;
}
.passing-block__button:first-child{
    margin-left: 100px;
}


.passing-block__results {
    display: none;
}

.passing-block__question-map {
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.passing-block__question-map-item {
    display: block;
    margin: 3px 10px;
    width: 57px;
    height: 54px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #c8aeda;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-family: "Gilroy";
    font-size: 30px;
    font-weight: 600;
    line-height: 54px;
}

.passing-block__question-map-item:hover {
    background-color: #842cc1;
}

.passing-block__question-map-item_answered {
    background-color: rgb(38, 86, 177);
}

.passing-block__question-map-item_active {
    background-color: #842cc1;
}
.passing-block__decorate{
    position: absolute;
    width: 20%;
    bottom: -35px;
    right:0;
}